<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <!-- local stylesheet -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/a65d4a7d3c.js"></script>

  <title>Friend Finder</title>
</head>

<body class="bg-dark">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Friend&nbsp;<span class="fas fa-hands-helping"></span>&nbsp;Finder</h1>
      <hr />
      <br />
      <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">Friend Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" id="logout" href="#">logout</a>
            </li>
          </ul>
          <span class="navbar-text" id="phrase">
            <!-- dynamic text -->
          </span>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-4">Survey</div>
      <div class="col-4">Questions</div>
      <div class="col-4">Author</div>
      <hr />
    </div>
    {{{body}}}
  </div>



  <!-- local scripts -->
  <script src="assets/scripts/survey.js" type="text/javascript"></script>
  <script src="assets/scripts/data.js" type="text/javascript"></script>
</body>

</html>