{{#each surveyData}}
<div class="row">
  <div class="col-4"><a href="/survey/" +{{name}}>{{name}}</a></div>
  <div class="col-4">{{num_questions}}</div>
  <div class="col-4">{{created_by}}</div>
  <hr />
</div>
{{/each}}